* {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12pt;
    letter-spacing: 2px;
    line-height: 18pt;
    font-weight: 300;
}

/*Mobile first code*/

body { 
    margin: 0 10.5vw 0 10.5vw;
}

.main-content {
    padding-top: 125px;
}

header div h2 {
    padding-bottom: 10px;
}

button {
    text-align: left;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    gap: 6vw;
    padding-top: 45px;
    padding-bottom: 25px;
    background-color: white;
    z-index:1;
    width: 79vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6vw;
    padding-bottom: 40px;
}

.cover-grid {
    padding-top: 167px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 6vw;
}

.cover-grid a {
    text-align: center;
    justify-content: center;
    position: relative;
}

.cover-grid p {
    color:black;
    justify-content: center
}

.progress-grid h3 {
    grid-column: 1 / 3;
}

.progress-grid p {
    grid-column: 1 / 3;
}

.final-grid img {
    padding-bottom: 6vw;
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: #a7a9ac;
}

footer {
    text-align: right;
    color: #A8A8A8;
    padding-bottom: 2.65vh;
    padding-top: 7.7vh;
}
nav {
    position: relative;
    display: inline-block;
    text-align: left;
  }

.dropbtn {
    background-color: white;
    border: none;
    padding: 0px;
  }
    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

.video-wrapper {
    width: 100%;
    height: 100%;
}

.video-wrapper iframe {
    object-fit: cover;
    width: 100%;
    height: 100%;
}  

/*Desktop Code Media Query*/
@media screen and (min-width: 480px) {
    body { 
        margin: 0 10.6vw 0 12vw;
    }

    .main-content {
        padding-top: 125px;
    }

    header div h2 {
        padding-bottom: 10px;
    }

    button {
        text-align: left;
    }

    header {
        display: grid;
        grid-template-columns: .95fr 1.5fr 1.5fr;
        position: fixed;
        gap: 2.8vw;
        padding-top: 45px;
        padding-bottom: 25px;
        background-color: white;
        z-index:1;
        width: 77.4vw;
    }
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6vw;
        padding-bottom: 40px;
    }

    .home h1{
        grid-column: 1 / 2;
    }
    
    h1{ 
        grid-column: 2 / 3;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    .final-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2.8vw;
        padding-bottom: 40px;
    }


    .final-grid img {
        grid-column: 2 / 9;
    }

    .final-grid a {
        grid-column: 2 / 9;
    }

    .final-grid iframe{
        grid-column: 2 / 9;
    }

    .final-grid .video-wrapper{
        grid-column: 2 / 9;
    }

    .video-wrapper {
        width: 100%;
        height: auto;
    }
    
    .final-grid .video-wrapper iframe {
        object-fit: cover;
        width: 100%;
        height: 700px;
    }  

    .progress-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2.8vw;
        padding-bottom: 100px;
    }

    .progress-grid .nextrow {
        grid-column: 2 / 3;
    }

    .cover-grid {
        padding-top: 167px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.8vw;
    }
    .progress-grid h3 {
        grid-column: 1 / 2;
    }
    .progress-grid p {
        grid-column: 1 / 2;
        grid-row: 3 / span 2;
    }

    .final-grid img {
        padding-bottom: 6vw;
        grid-column: 2 / 5;
    }
    footer {
        text-align: right;
        color: #A8A8A8;
        padding-bottom: 2.65vh;
        padding-top: 7.7vh;
    }
    nav {
        position: relative;
        display: inline-block;
        text-align: left;
    }

    .dropbtn {
        background-color: white;
        border: none;
        padding: 0px;
    }
        
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
} 




/* Interactions */  
.dropdown-content a:hover {background-color: #ddd;}
nav:hover .dropdown-content {display: block;}
nav:hover .dropbtn {background-color: #FFFFFF;}


