* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue Pro', sans-serif;
}

/*hero area and navigation*/
.showcase {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    position: absolute;
    right: 0;
    width: 100%;    
    z-index: 2;
}

.showcase video {
    height:100%;
    left:0;
    object-fit: cover;
    position: absolute;
    top:0;
    width: 100%;   
}

.showcase img {
    max-height: 50vh;
    max-width: 70vw;
    z-index: 10;
}

.overlay {
    background-color: #434343;
    filter: blur(2px) opacity(62%);   
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

nav{
    padding: 32px 80px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1000;
}
.nav-links{
    float: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
    letter-spacing: 5px;
  }

nav ul li a {
    color: white;
    font-size: 24px;
    opacity: 55%;
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;    
  }

nav ul li a:hover{
    opacity:100%;
    text-decoration: underline;
    text-decoration-color: #F07300;
  }
.burger {
    display: none;
    z-index:1001;
}
.burger div {
    background-color: white;
    height: 1px;
    margin: 10px;
    transition: all 0.3 ease;
    width: 25px;
}

.nav-active {
    transform: translateX(0);
}

.toggle.line1 {
    transform: rotate(-45deg) translate(-5px,6px);
    color: black;
}

.toggle.line2 {
    opacity: 0;
}

.toggle.line1 {
    transform: rotate(45deg) translate(-5px,-6px);
    color: black;
}



/*body content*/
.content {
    margin-left: 85px;
}

h1 {
    color: #000;
    font-size: 36pt;
    font-weight: bold;
    letter-spacing: 5pt;
    text-transform: uppercase;
    }

h1 span {
    background-color: #F07300;
    padding: 10px 40px 11px 85px;
}
  
h2 {
    font-size: 36pt;
    font-weight: bold;
    letter-spacing: 5pt;
    margin-left: 85px;
    padding-bottom: 20px;
    padding-top: 55px;
    text-transform: uppercase;    
} 

h3 {
    font-size: 28pt;
    font-weight: bold;
}

p {
    font-size: 24pt;
    font-weight: 350;
    line-height: 26pt;
    letter-spacing: 1.5pt;
}

.about p {
    padding-bottom: 50px;
    padding-top: 40px;
}

.main {
    position: absolute;
    top: 90vh;
}

img {
    max-width: 100%;
}


.twocolumn {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    margin-right: 85px;
    margin-top: 10vh;
  }

ul {
    font-size: 18pt;
    font-weight: 350;
    letter-spacing: 1.5pt;
    line-height: 26pt;
    list-style:none;
}

.address {
    padding-top: 30px;
}

.hours {
    padding-top: 30px;
}
  


/*menu sections*/
.menu-container {
    background-image: url(/img/marble.jpg);
    background-size: cover;
    padding-top: 71px;
  }
  
.menu-decoration {
    border-right: 5.83vw solid #f07300;
  }
  
  
table {
    font-size: 24pt;
    font-weight: 350;
    min-width: 250px;
    max-width: 350px;
    padding-bottom: 30px;
  }
  
table .header {
    align-items: bottom;  
    font-size: 28pt;
    font-weight: bold;
    min-width: 200px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  
th {    
    padding-bottom: 25px;
    font-weight: 350;
    text-align: left;
  }
  
td {
    height: 25px;
    line-height: 40px;
    padding-bottom:9px;
    padding-right: 20px;
  }

td:first-child { 
      width: 65%; 
    } 


.menus-container {
    align-items: start;
    display: grid;
    gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 85px;
    margin-right: 85px;
  }
  



/*directions section*/

.directions-summary {
    margin-top: 40px;
    max-width: 500px;
}

.directions img {
    height: 600px;
    object-fit: cover;
    object-position:50% 40% ;
    width: 100vh;
}




/*footer*/
footer {
    background-color:#333637;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin-top: 82px;
    padding: 54px 85px 44px 85px;
    z-index:1000;
}

footer h3 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.7px;
    margin-bottom:20px;
    margin-top: 0px;
}

footer p {
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

footer ul li {
    color: white;
    font-size: 18px;
    font-weight:300;
    margin-bottom: 9px;
    


}

footer img {
    margin-top: 8px;
    max-height: 72px;
    max-width: 92px;
    object-fit:scale-down;
    
}

.social-icons {
    display: flex;
    font-size: 20pt;
    justify-content: space-between;
    margin-top: 42px;
    vertical-align: bottom;
}

a {
  color: white;
  text-decoration: none; 
}



@media screen and (max-width:1000px) {

/*hero area and navigation*/
    .nav-links{
        float: none;
        text-align: center;
    }

/*type sizes and margins*/    
    h1 {
        font-size: 32pt;
    }

    h2 {
        font-size: 32pt;
    } 

    h3 {
        font-size: 24pt;
    }

    table {
        font-size: 24pt;
    }

    table .header {
        font-size: 24pt;
    }

    .twocolumn {
        gap: 0;
        grid-template-columns: 1fr;
    }

    .twocolumn img {
        height: 354px;
        object-fit: cover;
        object-position:50% 50%;
        padding-left: 85px;
        width: 100%;
    }

   .directions img {
        height: 491px;
        object-position: 50% 30%;
    }
    .address {
        padding-right: 55px;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:575px) and (max-width:1000px){
    .directions-items {
        display: flex;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 575px) {

/*hero area and navigation*/

    nav {
        height: 100vh;
        overflow: hidden;
        padding: 32px 50px;  
    }

    .nav-links{
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-top: 95px;
        position: absolute;
        right:0px;
        text-align: left;
        top:0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        width: 67%;
    }
    nav ul li {
        margin:50px 50px 0px 50px;
        opacity: 0;
    }

    nav ul li a {
        color: black;
   }

    .burger {
        display: block;
        float: right;
        z-index: 1001
    }

/*type sizes*/
    .content {
        margin-left: 50px;
        margin-right: 50px;
    }

    h1 {
        font-size: 28pt;
    }
    
    h1 span {
        padding: 10px 40px 11px 51px;
    }

    h2 {
        font-size: 28pt;
        margin-left: 50px;
    }

    h3 {
        font-size: 20pt;
    }

    p {
        font-size: 20pt;
    }    

    table {
        font-size: 20pt;
    }

    table .header {
        font-size: 20pt;
    }

    .menus-container {
        margin-left: 50px;
        margin-right: 50px;   
    }

    .twocolumn {
        gap: 0;
        grid-template-columns: 1fr;
        margin-bottom: 0px;
        margin-right: 0px;  
    }

    .twocolumn img {
        height: 354px;
        object-fit: cover;
        object-position:50% 50%;
        padding-left:0px;
        width: 100%;
    }

    .directions img {
        height: 491px;
        object-position: 50% 20%;
        padding-top: 40px
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

    .social-icons {
        grid-column: 1 / 3;
      }
    
    .contact {
        margin-left: auto;
        padding-right: 0;
    }    
}







/*table media queries*/

@media screen and (max-width: 1200px) {
    .menus-container {
      grid-template-columns: 1fr 1fr;
    }  
}

@media screen and (max-width: 900px) {
    .menus-container {
      grid-template-columns: 1fr;
    }
}
